<div class="zoom-container">
  <div class="zoom-buttoms">
    <button
      id="zoom-in"
      appClickZoomable
      [clickZoomableInSvg]="clickZoomableInSvg"
      [clickZoomableInContainer]="clickZoomableInContainer"
      type="button">
      <img class="zoom-icon" src="/assets/icons/zoom-in.svg" alt="close">
    </button>
    <button
      id="zoom-out"
      appClickZoomable
      [clickZoomableInSvg]="clickZoomableInSvg"
      [clickZoomableInContainer]="clickZoomableInContainer"
      type="button">
      <img class="zoom-icon" src="/assets/icons/zoom-out.svg" alt="close">
  </button>
  </div>
</div>
